<h1>Should I take an umbrella?</h1>

<form action="/process_umbrella">
  <div>
    <label for="u_loc">Where are you located?</label>
    <input id ="u_loc" type="text" name="user_loc">
  </div>

  <button>Submit</button>
</form>
